.landing {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    user-select: none;
    border-bottom: 3px solid var(--header-color);

    &__top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
        user-select: none;

        h1 {
            font-family: var(--logo-font);
            font-size: 20.8vw;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            font-display: swap;
        }

        &_bottom {
            display: flex;
            width: 100%;
            justify-content: space-between;
            position: relative;
            top: -4rem;
            span {
                font-family: 'Tiro Tamil', serif;
                font-size: 1.3vw;

                letter-spacing: 0.05rem;
                text-transform: lowercase;
                color: var(--text-color);
                padding: 0 1rem;
                transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
                user-select: none;
                font-display: swap;
                &:hover {
                    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
                    color: var(--header-color);
                }

                &:last-child {
                    padding-top: 2rem;
                }
            }
        }

    }

    .landingBottom {
        padding: 1rem;
        max-width: 100%; // Limit the maximum width
        video {
            width: 100%; // Full width of the container
            height: auto; // Maintain aspect ratio
            max-height: 60vh; // Limit the height on larger screens
            object-fit: cover;
            border-radius: 1rem;
        }
    }
}