.what {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    height: 100%;
    margin-top: 2rem;
    padding: 0 1rem;
    gap: 2rem;
    line-height: 1;
    &__container_upper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
        height: 100%;
        margin-top: 2rem;

        h2 {
            font-family: 'Oswald', serif;
            font-size: var(--navigaion-font-size);
            color: var(--header-color);
            font-weight: 700;
            letter-spacing: normal;
            text-transform: uppercase;
            font-display: swap;
            @media (max-width: 777px) {
                font-size: 4.3vh;

            }
        }

    }

    &__container_lower {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        height: 100%;
        gap: 0.4rem;

        p {
            font-family: 'Tiro Tamil', serif;
            font-size: var(--big-font-size);
            letter-spacing: 0.05rem;
            font-weight: 300;
            width: 55%;
            text-transform: lowercase;
            color: var(--text-color);
            transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
            user-select: none;
            font-display: swap;

            @media (max-width: 777px) {
                width: 100%;
                font-size: var(--normal-font-size);
                font-weight: 100;
            }
        }
    }
}