.body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 7rem;
    padding: 2rem;
    position: relative;
    z-index: 9;

    h2 {
        font-size: var(--bigger-font-size);
        font-weight: 500;
        color: var(--background-color);
        font-family: var(--body-font);
        text-transform: lowercase;
        letter-spacing: 0.1rem;
    }

    p {
        font-size: var(--big-font-size);
        font-family: var(--body-font);
        text-transform: lowercase;
        font-weight: 400;
        color: var(--background-color);
        letter-spacing: -0.05rem;
    }

    .visitUs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
    }

    .social {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;

        &__links {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.5rem;
        }

        a {
            color: var(--background-color);
            font-size: var(--big-font-size);
            font-family: var(--body-font);
            text-transform: lowercase;
            transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);

        }
    }
}