.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 6.5vh;
    width: 100%;
    padding: 0rem 0rem;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    background-color: var(--background-color);
    border-bottom: 1px solid var(--header-color);
    z-index: 99;

    &__logo {
        display: flex;
        transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
        overflow: hidden;
        &_anim {
            display: flex;
            width: 100%;
            h2 {
                font-family: var(--logo-font) ;
                font-size: 5vh;
                color: var(--header-color);
                font-display: swap;
                text-transform: uppercase;
                letter-spacing: 0.05rem;
            }

        }
    }

    &__links {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
        position: relative;
        z-index: 99;
        @media (max-width: 768px) {
            display: none;
        }

        ul {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            list-style: none;
            width: 100%;
            gap: 1rem;
            padding-right: 1rem;
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 6.5vh;
                transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
                cursor: pointer;
                font-display: swap;
                user-select: none;
                font-family: var(--body-font);
                font-weight: 500;
                font-size: var(--body-font-size);
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                a {
                    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
                    color: var(--header-color);
                    &:hover {
                        transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
                        color: var(--accent-color);
                    }
                }

            }
            
        }
    }
    .menu {
        @media (min-width: 768px) {
            display: none;
        }

        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: 100%;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 6.5vh;
            transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
            cursor: pointer;
            font-display: swap;
            user-select: none;
            font-family: var(--body-font);
            font-size: var(--big-font-size);
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            text-transform: capitalize;
            color: var(--text-color);
        }
    }
}
