.footer {
    color: var(--header-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    position: relative;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 9;
    margin-top: 10vh;


    h3 {
        font-size: 24.1vw;
        font-family: 'Oswald';
        color: var(--header-color);
        letter-spacing: 1rem;
        text-transform: uppercase;

        @media (max-width: 1265px) {
            display: none;
        }

        span {
            font-size: 3rem;
            position: absolute;
            top: 10rem;
            right: 1rem;

            @media (max-width: 1265px) {
                display: none;
            }
        }
    }

    h2 {
        font-family: "Oswald";
        text-transform: uppercase;
        width: 60%;

    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 2rem;

        @media (max-width: 1265px) {
            grid-template-columns: repeat(1, 1fr);
        }

        h2 {
            font-size: var(--bigger-font-size);
            font-family: var(--header-font);
            font-weight: 400;
            color: var(--header-color);
            text-transform: uppercase;
            letter-spacing: 0.1rem;

            @media (max-width: 1265px) {
                font-size: 3.5vh;
            }
        }

        a {
            font-size: var(--big-font-size);
            font-family: var(--body-font);
            color: var(--header-color);
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            font-weight: 400;
            line-height: 1;
            font-display: swap;

            @media (max-width: 1265px) {
                font-size: 3.5vh;
            }
        }
    }

    &__footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: relative;
        align-items: flex-start;
        padding-top: 1rem;
        position: relative;
        top: -2rem;

        @media (max-width: 1265px) {
            flex-direction: column-reverse;
        }

        h2 {
            font-size: var(--normal-font-size);
            width: 100%;
            font-weight: 600;
            font-family: var(--body-font);
        }

        ul {
            display: flex;
            width: 100%;
            gap: 2rem;

            li {
                display: flex;
                width: 100%;

                a,
                span {
                    font-size: var(--normal-font-size);
                    font-family: var(--body-font);
                    color: var(--header-color);
                    text-transform: uppercase;
                    font-weight: 500;
                    line-height: 1;
                    font-display: swap;

                    @media (max-width: 1265px) {
                        font-size: 3.5vh;
                    }
                }
            }
        }

        .credits {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 1rem;
            font-size: var(--normal-font-size);
            font-family: 'Oswald';
            color: var(--background-color);
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            font-weight: 400;
            line-height: 1;
            height: 100%;
            font-display: swap;

            @media (max-width: 1265px) {
                display: none;
            }

            &__container {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                align-items: flex-start;
                gap: 1rem;
                font-size: var(--normal-font-size);
                font-family: 'Oswald';
                color: var(--background-color);
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                font-weight: 400;
                line-height: 1;
                height: 100%;
                font-display: swap;

                ul {
                    width: 100%;

                    li {
                        display: flex;
                        width: 100%;
                    }
                }

            }
        }
    }


}

.footer__top {
    position: relative;
    white-space: nowrap;
    display: flex;


    h2 {
        position: relative;
        margin: 0px;
        font-weight: 500;
        padding-right: 50px;
    }
}

.footer__logoz {
    display: flex;
    gap: 1rem;
    width: 20%;
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: 1265px) {
        width: 100%;
        margin-top: 4vh;
    }

    a {
        width: 100%;
        font-family: var(--body-font);
        font-weight: 500;
        text-transform: uppercase;
        color: var(--header-color);
    }
}

.footer__rest {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    gap: 1rem;

    @media (max-width: 1265px) {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1rem;
            width: 100%;

            li {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1rem;
                width: 100%;
                a {
                    width: 100%;
                    font-size: var(--body-font-size);
                }
                span {
                    width: 100%;
                    font-size: var(--body-font-size);
                }
            }
        }
    }

}