.stairs {
    .transition-container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        left: 0;
        top: 0;
        pointer-events: none;
        z-index: 992;

        div {
            position: relative;
            height: 100%;
            width: 100%;
            background-color: var(--accent-color);
        }
    }

    .transition-background {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 0;
        background-color: var(--background-color);
        pointer-events: none;
        top: 0;
        left: 0;
    }
}