@import url("https://api.fontshare.com/v2/css?f[]=switzer@900,100,700,400,200,300,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;1,200;1,400;1,500;1,600&family=Tiro+Tamil:ital@1&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=oswald@600,700,500,300,200,400&display=swap');

:root {
  --header-color: #1b1b1b;
  --sub-header-color: #3fff;
  --accent-color: #3A7575;
  --background-color: #d8d1bd;
  --color-number: #999;

  /* Font sizes based on the golden ratio */

  --normal-font-size: 1rem;
  --small-font-size: 0.618rem;
  --big-font-size: 1.618rem;
  --bigger-font-size: 2.618rem;
  --biggest-font-size: 4.236rem;
  --navigaion-font-size: 5.9vh;

  

  /* Font families */

  --body-font: "Switzer Regular";
  --header-font: "Switzer-Bold";
  --sub-header-font: "Switzer Medium";
  --title-font: "Switzer Regular";
  --subtitle-font: "Switzer Light";
  --logo-font: "Switzer Black";

  /* Font weights */

  --body-font-weight: 400;
  --header-font-weight: 700;
  --sub-header-font-weight: 500;
  --title-font-weight: 400;
  --subtitle-font-weight: 300;

  /* Line heights */

  --body-line-height: 1.5;
  --header-line-height: 1.5;
  --sub-header-line-height: 1.5;
  --title-line-height: 1.5;
  --subtitle-line-height: 1.5;

  /* Letter spacing */

  --body-letter-spacing: 0;
  --header-letter-spacing: 0;
  --sub-header-letter-spacing: 0;
  --title-letter-spacing: 0;
  --subtitle-letter-spacing: 0;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  background-color: var(--background-color);
}

body {
  max-width: 100vw;
  background-color: var(--background-color);
  overscroll-behavior-x: none;
  touch-action: pan-y;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-background-color: var(--accent-color) !important;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px var(--accent-color);
  border-bottom: 1px solid var(--background-color) !important;
  color: var(--container-color) !important;
}

input:-webkit-autofill::selection {
  background: var(--background-color) !important;
  color: var(--accent-color) !important;

  &::placeholder {
    color: var(--accent-color) !important;

  }
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

img {
  pointer-events: none;
  user-select: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;

}

img {
  max-width: 100%;
  height: auto;
}


::-webkit-scrollbar {
  display: none;
}


::selection {
  background-color: var(--accent-color);
  color: var(--background-color);
}



.hiddenn {
  display: none;
}

.error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: var(--accent-color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  z-index: 999;
}

.error p {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: "Outfit-Bold";
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1850px) {
  .container {
    max-width: 1600px;
  }
}

/* Responsive Font sizes based on golden ratio */

